<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva Howard Portfolio</title>
    <meta name="description" content="Portfolio of Eva Howard, a UW Computer Science student, showcasing software projects,
    programming skills, and experience in web development, algorithms, and technology.">
    <meta name="author" content="Eva Howard">
    <meta name="keywords" content="Eva Howard, Eva, Howard, portfolio, CS, Computer Science, student, UWT, University of
    Washington, HTML, CSS, JavaScript, Python, Java, projects, leadership, WiCS, UHackathon, Game Jam, Figma">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav class="navbar">
    <a href="index.html">Home</a>
    <a href="about.html">About Me</a>
    <a href="experience.html">Experience</a>
    <a href="projects.html">Projects</a>
    <a href="resume.html">Resume</a>
</nav>
<div class="body">
    <div class="grid twoColGrid home">
        <img src="img/face1.png" alt="A professional photo of Eva Howard with a big smile looking at the camera." width="465" height="610">
        <div>
            <h1>Hello! My Name is Eva Howard</h1>
            <p>
                I’m a recent <strong><em>University of Washington Computer Science graduate</em></strong> with experience
                in <strong><em>full-stack development, UI/UX design,</em></strong> and <strong><em>web programming</em></strong>.
                As <strong><em>President of the Women in Computing Science</em></strong> and with <strong><em>5+ years of customer
                service experience</em></strong>, I combine technical expertise with leadership and collaboration skills.
            </p>
            <div class="buttons">
                <a href="about.html">Learn More</a>
                <a href="projects.html">View My Work</a>
            </div>
            <div id="icons">
                <img src="img/java.png" alt="LinkedIn">
                <img src="img/python.png" alt="LinkedIn">
                <img src="img/js.png" alt="LinkedIn">
                <img src="img/jetbrains.png" alt="LinkedIn">
                <img src="img/figma.png" alt="LinkedIn">
                <img src="img/canva.png" alt="LinkedIn">
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <u><a href="sitemap.html">Site Map</a></u> <br>
    <a href="index.html">home</a> <br>
    <a href="about.html">about me</a> <br>
    <a href="experience.html">experience</a> <br>
    <a href="projects.html">projects</a> <br>
    <a href="resume.html">resume</a> <br>
    <div class="socialGrid">
        <div class="icon">
            <a href="mailto:ehoward7960@gmail.com">
                <img src="img/email%20(2).png" alt="Email Icon" width="50" height="50">
            </a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/in/evahoward7960/">
                <img src="img/linkedin.png" alt="LinkedIn Icon" width="50" height="50">
            </a>
        </div>
        <div class="icon">
            <a href="https://github.com/eva7960">
                <img src="img/github.png" alt="Github Icon" width="50" height="50">
            </a>
        </div>
    </div>
</footer>
</body>
</html>

